article.art {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 18pt;

    & > header { 
        grid-column: 1 / span 2;
        & > h1 > a {
            font-size: 20pt;
            font-weight: bold;
        }
    }
}

article.art_detail {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 36pt;

    & > iframe {
        margin: 0; padding: 0;
    }

    & > .content {
        font-size: 18pt;
    }
}