$imageSize: 125px;
$hexWidth: $imageSize - 30px;
$hexHeight: $hexWidth * 2;

.hexgrid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: $imageSize;
    grid-template-areas: "instagram twitter ." "vimeo headshot youtube" "spotify twitch .";
    margin-right: 2rem;
}

.hex {
    // position: relative;
    position: absolute;
    width: $hexWidth;
    // height: $hexHeight;

    img {
        width: 100%;
        height: 100%;
    }
}

#instagram, #twitter {
    left: $hexWidth / 2;
    top: $hexHeight / 4;
}

#spotify, #twitch {
    top: -$hexHeight / 4;
    left: $hexWidth / 2;
}

#headshot {
    // width: $hexWidth * 1.5;

}

.hexSmall {
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    background-repeat: no-repeat;
    background-position: 50%;
    // border: 1px solid red;

    .chunk1 {
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: rotate(-60deg);
        // border: 1px solid blue;

        .chunk2 {
            width: 100%;
            height: 100%;
            visibility: visible;
            transform: rotate(-60deg);
            background-repeat: no-repeat;
            background-position: 50%;
            // border: 1px solid green;
        }
    }
}

.hexSmall {
    width: $hexWidth;
    height: $hexHeight;
    margin: -40px 0 -40px 0;

    .chunk2 {
        background-image: url(/img/headshot@0,5x.jpg);
    }
}