article.now {
    ul {
        // margin: 1.5em 0 0 0; padding: 0;
        list-style: square;

        li {
            font-size: 36pt;
            line-height: 1.5em;
            font-weight: lighter;
        }
    }
}