$textColor: #4A4A4A;
$backgroundColor: #fafafa;

body {
    font-family: "Avenir Next", Verdana, Helvetica;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 1em;
}

h1, h2, h3, h4, h5, h6, p, header {
    margin: 0; padding: 0;
}

h1 { font-size: 36pt; }

#container {
    max-width: 960px;
    margin: auto;
    display: grid;
    min-height: 100%;
}

@import "hex";
@import "links";
@import "landing";
@import "header";
@import "art";
@import "now";
@import "film";

